/* -------- COLORS -------- */

/* ORANGE: #ff9a00 */
/* ORANGE: #ff9a00 */

/* -------- BASIC SETUP -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------- HEADER -------- */

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.71)), url(../img/showroom.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-logo {
    width: 200px;
    height: auto;
    margin: 10px 0 0 30px;
}

.main-nav {
    list-style: none;
    text-align: right;
    margin-top: 35px;
}

.main-nav li {
    display: inline;
    margin-right: 15px;
}

.main-nav:last-child {
    margin-right: 15px;
}

.nav-link {
    font-size: 80%;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

h1 {
    color: #fff;
    margin: 0;
}