/* -------- COLORS -------- */

/* ORANGE: #ff9a00 */
/* ORANGE: #ff9a00 */

/* -------- BASIC SETUP -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------- NAV -------- */

.nav {
    background-color: #ff9a00;
    padding-bottom: 20px;
}

.nav-logo {
    width: 180px;
    height: auto;
    float: left;
    margin: 20px 0 0 35px;
}

.nav-links {
    list-style: none;
    text-align: right;
    margin-top: 43px;
}

.nav-links a {
    font-size: 80%;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.nav-links li {
    display: inline;
    margin-right: 18px;
}

.nav-links:last-child {
    margin-right: 17px;
}

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/showroom.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.hero-text {
    position: absolute;
    top: 35%;
    margin-left: 35px;
}

h1 {
    color: #fff;
    margin: auto;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    border: 2px solid;
    border-color: #ff9a00;
    border-radius: 7px;
}

.btn-solid {
    color: #fff;
    background-color: #ff9a00;
    font-weight: 400;
    margin: 0 10px 0 2px;
}

.btn-outline {
    color: #ff9a00;
    font-weight: 400;
}