/* -------- COLORS -------- */

/* ORANGE: #ff9a00 */
/* ORANGE: #ff9a00 */

/* -------- BASIC SETUP -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------- NAV -------- */

nav {
    background-color: #ff9a00;
}

.nav-logo {
    width: 180px;
    height: auto;
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.nav-links {
    list-style: none;
    text-align: right;
    margin-top: 43px;
}

.nav-links a {
    font-size: 80%;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.nav-links li {
    display: inline;
    margin-right: 18px;
}

.nav-links li:last-child {
    margin-right: 35px;
}

.hero-text-box {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/showroom.png);
    background-size: cover;
    background-position: center;
    height: 84vh;
}

.hero-content {
    margin: 0 0 0 35px;
}

.hero-text-box h1 {
    font-family: 'Graduate', 'Lato', 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
}